[phases.setup]
nixPkgs = [
    "python3",
    "postgresql",
    "gcc",
    "zlib",
    "pango",
    "harfbuzz",
    "cairo",
    "gdk-pixbuf",
    "gobject-introspection",
    "libffi",
    "shared-mime-info"
]

[phases.install]
cmds = ["python -m venv /opt/venv && . /opt/venv/bin/activate && pip install -r requirements.txt"]

[start]
cmd = ". /opt/venv/bin/activate && python manage.py migrate && gunicorn core.wsgi --log-file -"