# 1. Instalamos Python y las librerías para WeasyPrint
[phases.setup]
nixPkgs = [
    "python312",
    "pango",
    "gobject-introspection",
    "gdk-pixbuf",
    "cairo",
    "libffi",
    "gcc"
]

# 2. En el BUILD solo recolectamos estáticos (NO migramos aquí)
[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

# 3. En el START es donde migramos y luego prendemos el servidor
[start]
cmd = "python manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:$PORT"
