[phases.setup]
nixPkgs = [
    "python312",
    "pango",
    "gobject-introspection",
    "gdk-pixbuf",
    "cairo",
    "libffi",
    "gcc"
]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
# QUITAMOS EL "|| true" PARA VER EL ERROR REAL
cmd = "python manage.py migrate && python manage.py createsuperuser --noinput && gunicorn core.wsgi:application --bind 0.0.0.0:$PORT"
