[phases.setup]
nixPkgs = [
    "python312",
    "gcc",
    "zlib",
    "libjpeg",
    "libffi",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "gobject-introspection"
]

[phases.build]
cmds = ["python manage.py collectstatic --noinput", "python manage.py migrate"]

[start]
cmd = "python manage.py runserver 0.0.0.0:8000"
