[phases.setup]
nixPkgs = [
    "python312",
    "gcc",
    "zlib",
    "libjpeg",
    "libffi",
    "cairo",
    "pango",
    "gdk-pixbuf",
    "gobject-introspection"
]

[phases.build]
# IMPORTANTE: Aquí SOLO recolectamos estáticos. 
# NO ponemos 'migrate' aquí porque fallará la conexión a la DB.
cmds = ["python manage.py collectstatic --noinput"]

[start]
# IMPORTANTE: Aquí SÍ ponemos 'migrate'.
# Se ejecuta justo antes de encender el servidor (gunicorn).
cmd = "python manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:$PORT"
